.Rproj.user
.Rhistory
.RData
*.Rproj
images/Thumbs.db
shinyapps/erichare/intRo.dcf
shinyapps/erichare/intRo-dev.dcf

student-paper-competition-2014/
test.R
code_*.R
!code_All.R
www/code_*.html
code_All.R

rsconnect/shinyapps.io/bill/intRo.dcf

rsconnect/shinyapps.io/erichare/intRo.dcf

jcgs-paper-2016/paper.pdf

jcgs-paper-2016/response.html
.DS_Store
