.Rproj.user
.Rhistory
.RData
*.Rproj
images/Thumbs.db
shinyapps/erichare/intRo.dcf
packrat/lib*/
shinyapps/erichare/intRo-dev.dcf
packrat/*

student-paper-competition-2014/paper.pdf

*.html

test.R

code_*

.DS_Store
jcgs-paper-2016/paper.pdf


jcgs-paper-2016/paper-1strev.pdf
