.Rproj.user
.Rhistory
.RData
*.Rproj
images/Thumbs.db
shinyapps/erichare/intRo.dcf
shinyapps/erichare/intRo-dev.dcf

packrat/*

student-paper-competition-2014/paper.pdf

*.html

test.R

code_*

student-paper-competition-2014/
test.R
code_*.R
!code_All.R
www/code_*.html
code_All.R

.DS_Store

