<h3>Contingency</h3>

<img src="{{ site.baseurl }}/images/contingency_module.png" align="center" width="50%">

<p>The contingency module allows the user to construct contingency tables of two categorical variables from their dataset. The user is shown only categorical variables, and selects the two of interest. They can also specify whether to display counts, row proportions (in which each row sums to 1), column proportions (in which each column sums to 1) or total proportions (in which the table sums to 1). If proportions are selected, the user is also given an option to select the number of significant digits to display in the table.</p>
