<h3>Data</h3>

<img src="{{ site.baseurl }}/images/data_module.png" align="center" width="100%">

<p>The data module allows the user to select or upload a dataset. Several datasets are pre-included, which can be selected via a drop-down menu. The user can check a box to upload a dataset, and then select the text file from their computers (currently only CSV files are supported).</p>

<p>Upon selection or successful upload of a dataset, a table view of the data will be visible on the right. There are several features available. First, the user can select the number of records to display per page. Second, the user can click any column of the data in order to sort by that column. Third, search fields are available for both the entire dataset, and each individual column. Finally, the user can page between rows of the dataset with the buttons along the bottom.</p>

<p>The dataset selected in the data module will be made available to all other modules of <code>intRo</code>.</p>
