<h3>Graphical</h3>

<img src="{{ site.baseurl }}/images/graphical_module.png" align="center" width="100%">

<hr>

<p>The graphical module provides several common graphical displays of variables in the dataset. First, the user selects a particular plot. This choice determines the variable choices from the dataset presented to the user. The plot visible on the right will automatically update when these values are selected. The graphical displays available are:</p>

<ul>
<li>Histogram</li>
<li>Boxplot</li>
<li>Scatterplot</li>
<li>Line Chart</li>
<li>Boxplot</li>
<li>Bar Chart</li>
<li>Pareto Chart</li>
</ul>

<p>If there are options corresponding to the plot type selected, they will be displayed beneath the plot in the results panel. For example, users can select the bin width corresponding to the width of the bar for histograms.</p>
