<h3>Graphical Summaries</h3>

<img src="{{ site.baseurl }}/images/graphical_module.png" align="center" width="100%">

<p>The graphical summaries module provides several common graphical displays of variables in the dataset. First, the user selects between two types of plots, either one variable, or two variables. This choice determines the plot types presented to the user. The user then selects a plot type, and either a single variable, or two variables from the dataset. The plot visible on the right will automatically update when these values are selected. The graphical displays available are:</p>

<h5>One Variable</h5>
<ul>
<li>Histogram</li>
<li>Boxplot</li>
</ul>

<h5>Two Variables</h5>
<ul>
<li>Scatterplot</li>
<li>Line Chart</li>
<li>Boxplot</li>
<li>Bar Chart</li>
<li>Pareto Chart</li>
</ul>

<p>If there are options corresponding to the plot type selected, they will be displayed beneath the plot in the results panel. Currently, the plots with options are bar charts, pareto charts, and histograms. For bar charts and pareto charts, the user has the ability to select what statistic is displayed on the Y axis. Options include count, sum, mean, and median. For the histograms, users can select the bin width corresponding to the width of the bar.</p>
