<h3>Interface</h3>

<p>We designed <code>intRo</code> to have an intuitive user interface. We used large, easy to click icons in the page header. Each module maintains a consistent layout, helping the user to become familiar with the location of the options, the results, and the code. In the screenshot below, we highlight the five elements that comprise the <code>intRo</code> interface.</p>

<img src="{{ site.baseurl }}/images/ui_annotate.png" align="center" width="100%">

<p><ol>
  <li><b>Top Navigation</b> - The top navigation bar includes two sets of buttons. The left-aligned buttons are informational buttons. The first is a link to intRo. The second is a link to this documentation page. The third is a link to the GitHub repository where the code for <code>intRo</code> is housed. The final button is a link to our websites, which contain contact information if there are any questions or comments. The right-aligned buttons are <code>intRo</code> utilities. The first is a button to toggle the visibility of the code panel (5). The last is a button to print the active module results, and the associated code (if visible).</li>
  <li><b>Side Navigation</b> - The side navigation panel includes the modules which are detailed later in the tutorial.</li>
  <li><b>Options Panel</b> - The options panel includes module-specific options which the user can use to customize their results.</li>
  <li><b>Results Pane</b> - The results pane displays the result of the selected module and options.</li>
  <li><b>Code Panel</b> - The code panel displays the R code used to generate the results from the student's <code>intRo</code> session. The code panel is shown by default to facilitate an interest in coding, but can be hidden by clicking the code toggle button in the Top Navigation bar.</li>
</ol></p>

<p>There are multiple modules within <code>intRo</code>, which perform specific data analysis tasks that employ an easy to use point-and-click interface. Continue with the tutorial to read more about each one.</p>
