<h3>Motivation</h3>

<p>This tutorial serves as an introduction to a statistical learning tool, called <code>intRo</code>. The goal of <code>intRo</code> is to foster a student interest in coding while learning basic statistics, or at a minimum, help students to learn a bit more about working with data.</p>

<p>As a web-based application, this tool is immediately more familiar to students than a desktop application. The need for dealing with software licenses, installation configuration, and supported platforms has been eliminated. This allows students to spend more time working with the data and learning statistics than having to struggle to get the software running.</p>

<p>There are multiple modules within <code>intRo</code>, which perform specific data analysis tasks that employ an easy to use point-and-click interface. Continue with the tutorial to read more about each one.</p>


