<h3>Motivation</h3>

<p>This tutorial serves as an introduction to a statistics education tool, called <code>intRo</code>. The goal of <code>intRo</code> is to foster a student interest in coding while learning basic statistics, or at a minimum, help students to learn a bit more about working with data.</p>

<p>As a web-based application, this tool is immediately more familiar to students than a desktop application. The need for dealing with software licenses, installation configuration, and supported platforms has been eliminated. This allows students to spend more time working with the data and learning statistics than having to struggle to get the software running.</p>

<h4>Why intRo?</h4>

<p>Unlike JMP, intRo requires no software licenses or manual installation. intRo's 'functionality is focused on introductory statistics students, and nothing more (no extraneous functionality that must be navigated around to get to the content they need). intRo provides students an opportunity to see the underlying functionality of the buttons, text boxes, and other UI elements, in an attempt to foster an interest in coding. However, the functionality of intRo is point-and-click so those uninterested in coding will not be intimidated by the features of intRo.</p>

<p>Deducer provides a GUI for R which, like intRo, allows the viewing of underlying code. However, Deducer requires a manual installation dependent on Java. While intRo presents a minimal set of options for statistical analysis, Deducer provides many of the advanced features of R that may not be applicable for an introductory statistics student.</p>
