<h3>Numeric Summaries</h3>

<img src="{{ site.baseurl }}/images/numeric_module.png" align="center" width="100%">

<p>The numeric summaries module is another method of computing summaries of the data. The user is presented with a checkbox list of each variable from their dataset. The user can select one or more different variables, and will be presented with a table of some summary statistics. By default, the first four variables of the dataset are selected.</p>

<p>The summary statistics displayed vary depending on the type of the variables. For instance, for a numeric variable, a five number summary consisting of the minimum, maximum, first quartile, third quartile, and median will be displayed, along with the mean. Character or factor variables will display counts of each unique value of that particular variable.</p>
