<h3>Numerical</h3>

<img src="{{ site.baseurl }}/images/numerical_module.png" align="center" width="100%">

<hr>

<p>The numerical module is another method of computing summaries of the data. The user can select one or more different variables, and will be presented with a table of some summary statistics. The user can also select a grouping variable, in which case the summary statistics will be computed on each subset corresponding to different values of this grouping variable.</p>

<p>The summary statistics displayed vary depending on the type of the variables. For instance, for a numeric variable, a five number summary consisting of the minimum, maximum, first quartile, third quartile, and median will be displayed, along with the mean and standard deviation. Character or factor variables will display counts of each unique value of that particular variable.</p>
