<h3>Simple Linear Regression</h3>

<img src="{{ site.baseurl }}/images/regression_module.png" align="center" width="100%">

<p>The simple linear regression module allows the user to compute a simple linear regression of a dependent variable (y) on an independent variable (x). The module will automatically filter any variables that are non-numeric so that the user may only select variables that are suitable for a simple linear regression.</p>

<p>Results of the regression will be displayed on the right. A table of parameter estimates, along with standard errors, t statistics, and p-values will be displayed. Beneath it, a scatterplot of the data along with a line of best fit is shown. The R-Squared value, measuring the amount of variability explained by the fit, will be printed in either the top right or bottom left of the plot.</p>
