<h3>Sources</h3>

<img src="{{ site.baseurl }}/images/sources_module.png" align="center" width="100%">

<hr>

<p>The sources module allows the user to select or upload a dataset. Several datasets are pre-included, which can be selected via a drop-down menu. The user can check a box to upload a dataset, and then select the text file from their computers (currently only CSV files are supported). The user can also select random or pre-specified subsets of their data, reset their data to its status before any subsets or transformations were performed, and download their data to their computer.</p>

<p>Upon selection or successful upload of a dataset, a table view of the data will be visible on the right. There are several features available. First, the user can select the number of records to display per page. Second, the user can click any column of the data in order to sort by that column. Third, search fields are available each individual column, and any subset chosen here can be saved with the Save Subset button. Finally, the user can page between rows of the dataset with the buttons along the bottom.</p>

<p>The dataset selected in the data module will be made available to all other modules of <code>intRo</code>.</p>
