<h3>T test</h3>

<img src="{{ site.baseurl }}/images/T_test_module.png" align="center" width="100%">

<p>The T test module allows the user to perform a Student's T test to assess, in the one variable case, whether the mean of a variable is different from a hypothesized value, or in the two variable case, whether the difference of two variables are different from a hypothesized value. The user can select configuration options, including the direction of the test and the confidence level of the test. The results, including the t statistic, degrees of freedom, p-value, and a confidence interval, will be displayed in a text box in the results panel.</p>
