<h3>Transform</h3>

<img src="{{ site.baseurl }}/images/transform_module.png" align="center" width="100%">

<hr>

<p>The transform module allows the user to perform three different transformations on their data. For numeric variables, they can perform a power transformation, or convert the column to a categorical variable. For categorical variables, they can convert the column to a numeric variable.</p>

<p>For power transformations, histograms of the original and the transformed data will be displayed on the right. When the user is satsified with the choice of transformation, the Save Transformation button can be clicked, which will store the resulting transformation into the dataset for use throughout <code>intRo</code>.</p>
