 .container {
   margin-right:20px;
   margin-left:20px;
   width: 100%
 }
 
 .navbar-inner a {
    font-size: 1.5em;
 }
 
 .navbar-inner .dropdown-menu li a {
   font-size: 1em;
 }
 
 #codePrint {
   font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
   font-size: 12px;
 }
 
 iframe.print_results {
   display: none;
 }
 